:root {
  /* Colors */
  --primary-color: rgb(250, 238, 85);
  --background-color: rgb(18, 18, 18);
  --cards-background: rgb(8, 8, 8);

  /* Text Colors */
  --font-color: rgb(255, 255, 255);
  --card-header-color: rgb(255, 255, 255);

  /* Movie Info Colors */
  --movie-info-color: rgb(255, 255, 255);
}

[data-theme='dark'] {
  /* Colors */
  --primary-color: rgb(212, 167, 66);
  --background-color: rgb(247, 247, 250);
  --cards-background: rgb(205, 205, 205);

  /* Text Colors */
  --font-color: rgb(0, 0, 0);
  --card-header-color: rgb(0, 0, 0);

  /* Movie Info Colors */
  --movie-info-color: rgb(255, 255, 255);
}
