// Imports
// Mixins
@import './mixins.scss';
// Pages
@import './pages/home.scss';
@import './variables.scss';
// Content
@import './content/movies.scss';
@import './content/movieDetails.scss';
//Components
@import './components/appbars/navbar.scss';
@import './components/movies/movieCard.scss';
@import './components/movies/topMovieCard.scss';
@import './components/utils/avatar.scss';
@import './components/reviews/reviewCard.scss';
// Layout
@import './layout.scss';
// Use border-box, to include padding, border into the width + height
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove any default margin or padding
* {
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

body {
  border: 1px solid blue;
  min-height: 100vh;
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: var(--background-color);
}
