// Imports
// Pages
@import './pages/home.scss';
@import './variables.scss';
//Components

// Use border-box, to include padding, border into the width + height
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove any default margin or padding
* {
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

body {
  border: 1px solid blue;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: var(--background-color);
}
