@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin h-flex {
  display: flex;
  align-items: center;
}

@mixin between-flex-h {
  @include h-flex;
  justify-content: space-between;
}

@mixin around-flex-h {
  @include h-flex;
  justify-content: space-around;
}
