@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin h-flex {
  display: flex;
  align-items: center;
}

@mixin between-flex-h {
  @include h-flex;
  justify-content: space-between;
}

@mixin around-flex-h {
  @include h-flex;
  justify-content: space-around;
}

@mixin around-flex-v {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@mixin between-flex-v {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin darken-gradient-component {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

@mixin darken-component {
  background: rgba(0, 0, 0, 0.6);
}
