// Default for light theme

:root {
  // Colors
  --primary-color: rgb(250, 238, 85);

  // Background and cards
  // --background-color: rgb(255, 255, 255);
  --background-color: rgb(18, 18, 18);
  --cards-background: rgb(8, 8, 8);
}

[data-theme='dark'] {
  // Background and cards
  --background-color: rgb(13, 15, 20);
}

// Constants
$navbar-height: 70px;

// Cards
$movie-card-width: 250px;
$movie-card-height: 350px;

$cards-border-radius: 5px;
// Navbar
$active-item: var(--primary-color);
