@import 'variables.scss';
@import 'mixins.scss';

// Adult
.adult {
  border: 2px solid lime;
  height: 40px;
  width: 40px;
}

// Scores
.score {
  @include h-flex;

  &__icon {
    @include center-flex;
    width: 24px;
  }
  &__number {
  }
}

// Runtime
.runtime {
  &__value {
    color: red;
  }
}

// Language
.language {
  padding: 5px;
  background: var(--primary-color);
  background: $gradient-primary-color;
  border-radius: 5px;
  @include center-flex;
  &__icon {
    @include center-flex;
    width: 24px;
  }
  &__value {
    color: white;
    font-weight: bold;
  }
}

// Play Trailer
.playTrailer {
  @include center-flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--primary-color);
  background: $gradient-primary-color;
  padding: 5px;
  cursor: pointer;

  &__icon {
    @include center-flex;
    width: 24px;
    height: 24px;
  }
}
.playTrailer:hover {
  background: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.playTrailer:hover [class*='tooltip'] {
  opacity: 1;
  visibility: visible; /* Show the tooltip on hover */
}

// Genres
.genre {
  margin-right: 5px;

  &:last-child {
    margin-right: 0px;
  }
}
