@import 'variables.scss';
@import 'mixins.scss';

// Primary Button
.btn {
  @include center-flex;
  width: 100%;
  height: 40px;
  padding: 20px 15px 20px 15px;
  font-weight: 500;
  cursor: pointer;
  border-radius: $cards-border-radius;

  transition: all 0.4s;

  span {
    font-size: max(1vw, 10px);
  }

  &__icon {
    margin-left: 4px;
    width: 24px;
    height: 24px;
  }
}

.primaryBtn {
  background-color: var(--primary-color);
  color: var(--background-color);
}

.secondaryBtn {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.secondaryBtn:hover {
  background-color: var(--primary-color);
  color: var(--background-color);
}

// View Switch Button
.viewSwitchBtn {
  @include center-flex;
  width: 100%;
  height: 40px;
  padding: 20px 15px 20px 15px;
  font-weight: 500;
  cursor: pointer;

  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);

  transition: all 0.4s;

  span {
    font-size: max(1vw, 10px);
  }
  &__icon {
    margin-left: 5px;
    width: 24px;
    height: 24px;
  }
}

.viewSwitchBtnSelected {
  background-color: var(--primary-color);
  color: var(--background-color);
}

// Circle Button
.circleBtn {
  position: relative;
  color: white;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px;
  background: var(--primary-color);
  background: $gradient-primary-color;
}
