@import 'variables.scss';
@import 'mixins.scss';

.movieDetails {
  min-height: calc(100vh - $navbar-height - 200px);

  &__reviews {
    position: relative;
    top: -200px;
    padding: 40px;
    &__title {
      color: $primary-color;
    }
  }
}
// 129
