.movies {
  position: relative;
  border: 10px solid rgb(255, 0, 0);

  &__top-movies {
    height: 80vh;
    border: 4px solid white;
    &__list {
      display: grid;
      grid-template-columns: 80% 20%;

      position: relative;
      height: 100%;
      border: 8px solid brown;
      &__top-side-movies {
        border: 12px solid white;
        overflow: scroll;
        &__list {
          border: 2px solid purple;
        }
      }
    }
  }
  &__normal-movies {
    border: 5px solid lime;
    &__list {
      @include between-flex-h;
      flex-wrap: wrap;
    }
  }
}
