@import 'variables.scss';
@import 'mixins.scss';

.movies {
  position: relative;
  min-height: calc(100vh - $navbar-height);

  &__topMovies {
    // min-height: 80vh;

    padding: 20px;
    margin-bottom: 50px;
    &__subtitle {
      color: $primary-color;
      margin-bottom: 20px;
    }
    &__list {
      display: grid;
      grid-template-columns: 80% 20%;
      position: relative;
      height: 100%;
      &__topSideMovies {
        margin-left: 20px;

        max-height: 650px;
        overflow: hidden;

        &__list {
          height: 100%;
          // margin-top: 10px;
          overflow: scroll;
        }
      }
    }
  }
  &__normalMovies {
    padding: 20px;
    &__subtitle {
      color: $primary-color;
      span {
        color: white;
        font-weight: lighter;
      }
    }
    &__list {
      @include center-flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: $first-break-point) {
  .movies__topMovies__list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .movies__topMovies__list__topSideMovies {
    margin-left: 0px;
    margin-top: 10px;
  }
  .movies__topMovies__list__topSideMovies__list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .movies__topMovies__list__topSideMovies__list *:not(:last-child) {
    margin-right: 5px;
  }
}
