@import 'variables.scss';
@import 'mixins.scss';

.movies {
  position: relative;
  min-height: calc(100vh - $navbar-height);
  &__topMovies {
    height: 80vh;

    padding: 20px;
    margin-bottom: 50px;
    &__subtitle {
      color: $primary-color;
      margin-bottom: 20px;
    }
    &__list {
      display: grid;
      grid-template-columns: 80% 20%;

      position: relative;
      height: 100%;
      &__topSideMovies {
        margin-left: 20px;
        height: 100%;
        overflow: hidden;
        &__list {
          height: 100%;
          // margin-top: 10px;
          overflow: scroll;
        }
      }
    }
  }
  &__normalMovies {
    padding: 20px;
    &__subtitle {
      color: $primary-color;
    }
    &__list {
      @include center-flex;
      flex-wrap: wrap;
    }
  }
}
