.movies {
  position: relative;
  min-height: calc(100vh - $navbar-height);
  &__top-movies {
    height: 80vh;

    padding: 20px;
    &__list {
      display: grid;
      grid-template-columns: 80% 20%;

      position: relative;
      height: 100%;
      &__top-side-movies {
        margin-left: 20px;
        height: 100%;
        overflow: hidden;
        &__list {
          height: 100%;
          margin-top: 10px;
          overflow: scroll;
        }
      }
    }
  }
  &__normal-movies {
    padding: 20px;
    &__subtitle {
      color: var(--primary-color);
    }
    &__list {
      @include center-flex;
      flex-wrap: wrap;
    }
  }
}
