@import 'variables.scss';
@import 'mixins.scss';

.movieDetails {
  min-height: calc(100% - $movie-info-move-top-by);
  &__info {
    // height: calc(100% - $movie-info-move-top-by);
  }
  &__reviews {
    position: relative;
    top: $movie-info-move-top-by;
    padding: 40px;
    &__title {
      color: var(--primary-color);
    }
  }
}
// 129
