.navbar {
  @include between-flex-h;
  height: $navbar-height;
  padding: 20px;

  &__start {
    @include h-flex;
    border: 2px solid red;
    &__title {
      color: var(--primary-color);
      font-weight: bolder;
      font-size: 30px;
    }
    &__search {
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px;
      border: 2px solid lime;
      width: 40vw;
      &__input-field {
        width: 100%;
        padding: 0.75em 1em;
        font-size: 1em;
        font-family: 'Arial', sans-serif;
        color: white;
        background-color: rgb(53, 53, 53);
        border: none;
        border-radius: 5px;
        transition:
          border-color 0.3s ease,
          box-shadow 0.3s ease;
        outline: none;
      }

      &__input-field:focus {
        border-color: var(--primary-color);
        box-shadow: 0 0 8px rgba(255, 244, 30, 0.5);
      }

      &__input-field::placeholder {
        color: #bbb;
      }
    }
  }
  &__end {
    border: 2px solid lime;
  }
  &__items {
    display: flex;
    &__item {
      border: 1px solid pink;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
