@import 'variables.scss';
@import 'mixins.scss';

.movieCardContainer {
  margin: 20px;
}
.movieCard {
  position: relative;
  border-radius: $cards-border-radius;
  width: $movie-card-width;
  height: $movie-card-height;

  overflow: hidden;
  margin-bottom: 10px;
  &__poster {
    object-fit: cover;
    width: $movie-card-width;
    height: $movie-card-height;
  }
  &__darken {
    background-color: rgba(0, 0, 0, 0.286);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__background {
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__top {
      @include between-flex-h;
    }
    &__bottom {
      @include between-flex-h;
    }
  }
  &__fav {
    @include center-flex;
    position: relative;
    overflow: hidden;
    height: 50px;
  }
}
