.top-movie-card {
  position: relative;
  border: 10px solid blue;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
  &__backdrop {
    width: 100%;
    object-fit: cover;
  }

  &__info {
    @include darken-component;
    @include between-flex-v;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 20px solid var(--primary-color);
    &__top {
      border: 1px solid blue;
      width: 100%;
    }
    &__bottom {
      border: 1px solid red;
      width: 100%;
    }
  }
}
