.review {
  @include between-flex-v;

  background-color: var(--cards-background);
  border-radius: $cards-border-radius;

  margin: 10px;
  padding: 15px;
  &__header {
    &__author {
      @include h-flex;
      align-items: flex-end;

      &__meta {
        margin-left: 5px;
        &__name {
          color: var(--primary-color);
        }
        &__time {
          font-size: 12px;
          color: grey;
        }
      }
    }
  }
  &__content {
    padding: 15px;
  }
}

// <div className="review">
// <div className="review__header">
//   <div className="review__header__author">
//     <Avatar
//       src={`https://image.tmdb.org/t/p/w200${review.author_details.avatar_path}`}
//     />
//     <div className="review__header__author__name">{review.author}</div>
//   </div>
//   <div className="review__header__time">{review.updated_at}</div>
// </div>
// <div className="review__content">{review.content}</div>
// </div>
