@import 'variables.scss';
@import 'mixins.scss';

.review {
  @include between-flex-v;

  background-color: $cards-background;
  border-radius: $cards-border-radius;

  margin: 10px;
  padding: 15px;
  &__header {
    &__author {
      @include h-flex;
      align-items: flex-end;

      &__meta {
        margin-left: 5px;
        &__name {
          // color: $primary-color;
          color: white;
          font-weight: bold;
        }
        &__time {
          font-size: 12px;
          color: grey;
        }
      }
    }
  }
  &__content {
    padding: 15px;
  }
}
