@import 'variables.scss';
@import 'mixins.scss';
.mainMetaMovieInfo {
  position: relative;
  // border: 1px solid blue;
  &__header {
    &__title {
      font-size: 50px;
    }
    &__releaseDate {
      font-size: small;
    }
  }

  &__infoTags {
    @include between-flex-h;

    &__quicksAndtips {
      display: flex;
    }
    &__quicksAndtips *:not(:last-child) {
      margin-right: 5px;
    }
    &__genres {
      display: flex;
      align-items: center;
      &__genre {
        margin-right: 5px;
      }
      &__genre:last-child {
        margin-right: 0px;
      }
    }
    &__genres *:not(:last-child) {
      margin-right: 5px;
    }
  }
  &__overview {
    margin-top: 10px;
    color: white;
    div {
      @include h-flex;
    }
    h4 {
      margin-right: 10px;
      color: $primary-color;
    }
    span {
      display: block;
      padding: 20px;
    }
    // border: 1px solid red;
  }
}

@media only screen and (max-width: $first-break-point) {
  .mainMetaMovieInfo__infoTags {
    flex-direction: column;
    align-items: flex-start;
    & > div {
      width: 100%;
      margin-bottom: 10px;
    }
    &__quicksAndtips {
      display: flex;
      justify-content: space-between;
    }
  }
  .mainMetaMovieInfo__overview {
    span {
      padding: 5px;
    }
  }
}
