@import 'variables.scss';
@import 'mixins.scss';

.movieInfo {
  position: relative;

  &__meta {
    padding: 40px;
    position: relative;
    // top: -200px;
    top: $movie-info-move-top-by;
    display: flex;
    &__poster {
      border-radius: $cards-border-radius;
      width: 200px;
    }
    &__about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      // padding: 20px;
      padding-left: 20px;
      padding-right: 20px;

      &__bottom {
        position: relative;
        height: 50px;
        display: flex;

        &__overview {
          color: grey;
          margin-bottom: 10px;
        }
      }
    }
  }
}
