@import 'variables.scss';
.member {
  &__title {
    color: var(--primary-color);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    &__item {
      color: white;
      cursor: pointer;
      transition: color 0.2s;
      min-width: 100px;
      margin: 5px;
      display: flex;
      align-items: center;
      span {
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        small {
          color: rgb(181, 181, 181);
        }
      }
    }
  }
}

.member__list__item:hover {
  span {
    color: var(--primary-color);
  }
}

@media only screen and (max-width: $first-break-point) {
  .member__list__item {
    color: var(--font-color);
  }
}
